:root {
  --base-color: 0, 0, 0;
}

.tw-scrollbar {
  overflow-y: auto; /* Only show scrollbar when necessary */
}

.force-overflow {
  min-height: 450px;
}

.tw-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(var(--base-color), 0.1);
}

.tw-scrollbar::-webkit-scrollbar {
  background-color: rgba(var(--base-color), 0.1);
  width: 6px;
}

.tw-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(var(--base-color), 0.8);
}
