:root {
  --base-color: 0, 0, 0;
}

.tw-scrollbar {
  overflow-y: auto; /* Only show scrollbar when necessary */
}

.force-overflow {
  min-height: 450px;
}

.tw-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(var(--base-color), 0);
}

.tw-scrollbar::-webkit-scrollbar {
  background-color: rgba(var(--base-color), 0.1);
  width: 6px;
}

.tw-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(var(--base-color), 0.8);
}

.markdown-body img {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid #161c26;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.markdown-body ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body img:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.markdown-body table tr {
  transition: background-color 0.5s ease;
}

.markdown-body table tr:hover {
  background-color: rgba(48, 54, 61, 0.5);
}

.markdown-body pre {
  transition: background-color 0.5s ease;
}

.markdown-body pre:hover {
  background-color: rgba(48, 54, 61, 0.5);
}

.markdown-body blockquote {
  transition: background-color 0.5s ease;
}

.markdown-body blockquote:hover {
  background-color: rgba(48, 54, 61, 0.3);
}

.markdown-body .highlighter-rouge + div {
  border-radius: 8px;
  overflow: hidden;
}

.markdown-body pre.highlight {
  border-radius: 8px;
}

.markdown-body .highlighter-rouge div.highlight {
  background: transparent;
}

.markdown-body ul,
.markdown-body ol {
  list-style: initial;
}
